@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" font-weight-bold>CRUD Management System</h1>
    <p>From Desktop Apllication to Web Application</p>
</div>
