@model CRUD_Management_System.Models.UserDetailsModel

@{
    // Controleren of er een foutmelding in TempData staat
    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    // Stel de titel van de pagina in via ViewData
    ViewData["Title"] = "Create New User Account";
}

<h2> </h2>

<form asp-action="CreateUser" method="post" class="user-form">
    <div class="form-group fullwidth">
        <label for="Alias">Alias</label>
        <input type="text" asp-for="Alias" id="Alias" readonly />
    </div>

    <div class="form-group two-columns">
        <div>
            <label for="Name">Naam</label>
            <input type="text" asp-for="Name" id="Name" oninput="generateAlias()" required />
            <small class="form-text text-muted">* Required</small>
        </div>
        <div>
            <label for="Surname">Achternaam</label>
            <input type="text" asp-for="Surname" id="Surname" oninput="generateAlias()" required />
            <small class="form-text text-muted">* Required. Prefixes are saved in lowercase</small>
        </div>
    </div>

    <div class="form-group three-columns">
        <div>
            <label for="Address">Adres</label>
            <input type="text" asp-for="Address" id="Address" />
        </div>
        <div>
            <label for="ZIP">Postcode</label>
            <input type="text" asp-for="ZIP" id="ZIP" />
        </div>
        <div>
            <label for="City">Stad</label>
            <input type="text" asp-for="City" id="City" />
        </div>
    </div>

    <div class="form-group two-columns">
        <div>
            <label for="Email">E-mail</label>
            <input type="email" asp-for="Email" id="Email" required />
            <small class="form-text text-muted">* Required</small>
        </div>
        <div>
            <label for="Phonenumber">Telefoonnummer</label>
            <input type="text" asp-for="Phonenumber" id="Phonenumber" />
        </div>
    </div>

    <button type="button"
            class="btn btn-success"
            id="saveCreateUserButton"
            data-alias="Alias">
            Opslaan
    </button>
    <a asp-controller="DashboardAdmin" asp-action="Index" class="btn btn-secondary">Annuleren</a>
</form>

<script>
    // Genereer de server-side URL en sla deze op in een JavaScript-variabele
    var generateAliasUrl = '@Url.Action("GenerateAlias", "CreateUser")';
    console.log(generateAliasUrl);  // Dit zou de juiste URL moeten tonen
</script>

<!-- Laad het externe JavaScript-bestanden na het doorgeven van de URL -->
<script src="~/js/generateAlias.js"></script>
<script src="~/js/capitalizeLetters.js"></script>
<script src="~/js/confirmation.js"></script>
<script src="~/js/verifyCreateUserForm.js"></script>
